services:
  pc-humble:
    image: manelpuig/ros2-humble-ub-biorob:latest
    container_name: pc_humble
    privileged: true
    ipc: host
    tty: true
    stdin_open: true
    restart: unless-stopped

    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=1

      # LAB (Windows): recommended
      #- ROS_AUTOMATIC_DISCOVERY_RANGE=OFF
      #- ROS_STATIC_PEERS=192.168.1.14
      # SIM (WSL2): recommended
      - ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
      # (DO NOT set ROS_STATIC_PEERS at home)

      #- CYCLONEDDS_URI=file:///config/cyclonedds_pc.xml

      # WSLg
      - DISPLAY=:0
      - WAYLAND_DISPLAY=wayland-0
      - XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
      - PULSE_SERVER=/mnt/wslg/PulseServer
      - QT_X11_NO_MITSHM=1

      # IMPORTANT: don't force software by default here
      - LIBGL_ALWAYS_SOFTWARE=0

    volumes:
      - ./entrypoint_pc.sh:/entrypoint_pc.sh:ro
      #- ./cyclonedds_pc.xml:/config/cyclonedds_pc.xml:ro

      # WSLg shared mounts
      - /mnt/wslg:/mnt/wslg
      - /mnt/wslg/.X11-unix:/tmp/.X11-unix:rw

    entrypoint: /entrypoint_pc.sh
    command: sleep infinity
