services:
  pc-humble:
    image: manelpuig/ros2-humble-biorobub-pc:latest
    container_name: pc_humble
    privileged: true
    ipc: host
    tty: true
    stdin_open: true
    restart: unless-stopped

    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=1

      # LAB (Windows): recommended
      #- ROS_AUTOMATIC_DISCOVERY_RANGE=OFF
      #- ROS_STATIC_PEERS=192.168.1.14
      # SIM (xlaunch): recommended
      - ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
      # (DO NOT set ROS_STATIC_PEERS at home)

      - CYCLONEDDS_URI=file:///config/cyclonedds_pc.xml

      # XLaunch
      - DISPLAY=host.docker.internal:0.0
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_SOFTWARE=1
      - MESA_GL_VERSION_OVERRIDE=2.1
      - NO_AT_BRIDGE=1

    volumes:
      - ./entrypoint_pc.sh:/entrypoint_pc.sh:ro
      - ./cyclonedds_pc.xml:/config/cyclonedds_pc.xml:ro

    entrypoint: /entrypoint_pc.sh
    command: sleep infinity
